In [2]:
import pandas as pd

In [11]:
df = pd.read_csv(f"Resources/full_draft_prediction.csv")
df.head()

,Unnamed: 0,Name,OvPck,Pos,Rnd,ST,Tm,Type,WAR,WAR_prediction
0,2015,Taylor Ward (minors),26,C,1,CA,Angels,4Yr,0.0,<0 WAR
1,2016,Jahmai Jones (minors),70,OF,2,GA,Angels,HS,0.0,NO WAR
2,2017,Grayson Long (minors),104,RHP,3,TX,Angels,4Yr,0.0,0<WAR<5
3,2018,Brendon Sanger (minors),135,RF,4,FL,Angels,4Yr,0.0,NO WAR
4,2019,Jared Foster (minors),165,RF,5,LA,Angels,4Yr,0.0,0<WAR<5

In [12]:
df[['Name','M']] = df['Name'].str.split('(',expand=True)
df.head()

,Unnamed: 0,Name,OvPck,Pos,Rnd,ST,Tm,Type,WAR,WAR_prediction,M
0,2015,Taylor Ward,26,C,1,CA,Angels,4Yr,0.0,<0 WAR,minors)
1,2016,Jahmai Jones,70,OF,2,GA,Angels,HS,0.0,NO WAR,minors)
2,2017,Grayson Long,104,RHP,3,TX,Angels,4Yr,0.0,0<WAR<5,minors)
3,2018,Brendon Sanger,135,RF,4,FL,Angels,4Yr,0.0,NO WAR,minors)
4,2019,Jared Foster,165,RF,5,LA,Angels,4Yr,0.0,0<WAR<5,minors)

In [13]:
del df["Unnamed: 0"]
del df["M"]
df.head()

              Name  OvPck  Pos  Rnd  ST      Tm Type  WAR WAR_prediction
0     Taylor Ward      26    C    1  CA  Angels  4Yr  0.0         <0 WAR
1    Jahmai Jones      70   OF    2  GA  Angels   HS  0.0         NO WAR
2    Grayson Long     104  RHP    3  TX  Angels  4Yr  0.0        0<WAR<5
3  Brendon Sanger     135   RF    4  FL  Angels  4Yr  0.0         NO WAR
4    Jared Foster     165   RF    5  LA  Angels  4Yr  0.0        0<WAR<5

In [14]:
df.to_csv("Resources/full_draft_prediction_edit.csv")